.main {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  position: relative;
  height: 265px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x:auto;
  overflow-y: hidden;
}

.innerContainer {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Element styles */
.element {
  position: relative;
  width: 240px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
  padding: 10x 10px;
}

/* circle of each element */
.element-circle {
  font-weight: 700;
  color: #333333;
  height: 50px;
  width: 50px;
  position: absolute;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid;
}

/* description text container */
.element-desc-container {
  color: #333333;
  height: auto;
  width: 90%;
  position: absolute;
}

/* element heading title h1 */
.element-heading {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0;
}

/* element description text <p> */
.element-desc {
  margin: 0;
  font-size: 11px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* connecting line of the element with its circle */
.element-line {
  content: "";
  position: absolute;
  left: 49%;
  width: 1%;
  height: 115px;
  background-color: #fff;
}

/* triangle arrow of each element towards its title & description */
.element-triangle {
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top: 0;
  border-bottom: 18px solid;
}