.App {
  text-align: center;
}

body {
  background-image: linear-gradient(90deg, rgba(2,1,15,1) 0%, rgba(40,69,151,1) 100%);
}

.hero-right-panel {
  background: linear-gradient(283deg, #070709, #1b1871);
  background-size: 400% 400%;

  -webkit-animation: anim 9s ease infinite;
  -moz-animation: anim 9s ease infinite;
  animation: anim 9s ease infinite;
}

@-webkit-keyframes anim {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}
@-moz-keyframes anim {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}
@keyframes anim {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}

.hero-play-button {
  background: linear-gradient(283deg, #1a1967, #a2fcee);
  background-size: 600% 600%;
  opacity: 50%;

  -webkit-animation: animButton 5s ease infinite;
  -moz-animation: animButton 5s ease infinite;
  animation: animButton 5s ease infinite;
}

@-webkit-keyframes animButton {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}
@-moz-keyframes animButton {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}
@keyframes animButton {
  0%{background-position:0% 47%}
  50%{background-position:100% 54%}
  100%{background-position:0% 47%}
}

.shineButton {
  background-color: '#0093E9';
  background-image: 'linear-gradient(90deg, #0093E9 0%, #80D0C7 100%)';
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0.93) 50%,
    rgba(0, 0, 0, 1) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s linear infinite;
}
  
@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

.wrap {
  text-align: center;
  border-radius: 50px 20px;
  margin-top: 15px;
}

.wrap a {
  color: #fff;
}

@media (min-width:500px) {
  .hover-fx {
    font-size: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  center;
    cursor: pointer;
    margin: 15px;
    width: 80px;
    height: 80px;
    line-height: 84px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms;
  }
    
  .hover-fx:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #fff;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
  }

  .hover-fx:hover {
    background-color: #0d5a83;
    color: #00989A;
  }

  .hover-fx:hover:after {
    opacity: 1;
    transform: scale(1.15);
  }
}
